*{
    box-sizing: border-box;

}


.wrap{
    margin: 20px auto;
    padding: 30px; 
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.wrap-img{
    width: 70%;
    margin-top: 30px;
   
}
img{
    width: 100%;
}